.login_form{
  background: linear-gradient(210.92deg, #A4CB60 12.34%, #3AA8F3 100%);
}

.bem_vindo{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #333333;

}

.logo{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color:#8A3A00;
  text-align: left;
  font-weight: 800;
}

.logo_bold{
  font-weight: 800;
  color:#ffffff
}

.center_div{
  display:flex;
  justify-content: center;
  align-items: center
}
