<div class="background">
  <div class="row mx-0">
    <div class="col-7 mt-5">
      <form class="example-form row mx-5 mt-5">
        <h1 class="center cadastro mb-5">Cadastro Pet</h1>
      <mat-form-field  appearance="outline">
        <mat-label>Nome do pet</mat-label>
        <input matInput [(ngModel)]="pet.nome" name="nomepet"><br>
      </mat-form-field>
      <mat-form-field appearance="outline"  class="col-4">
        <mat-label>Raça</mat-label>
        <input matInput [(ngModel)]="pet.raca" name="raca"><br>
      </mat-form-field>
      <mat-form-field appearance="outline"  class="col-4">
        <mat-label>Idade</mat-label>
        <input matInput [(ngModel)]="pet.idade" name="idade"><br>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label >Sexo</mat-label>
        <input matInput [(ngModel)]="pet.sexo" name="sexo"><br>
      </mat-form-field>
    </form>
    <div class="d-flex justify-content-center mt-4">
      <button class="botao center px-5" mat-raised-button color="primary" (click)="inserirPet()">Cadastrar</button>
    </div>
    </div>
    <div class="col-5">
      <img src='assets/img/cadastro.png' style="position: fixed; right:0; height: 100%;"/>
    </div>
  </div>
</div>
