@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

.background{
  background: linear-gradient(210.92deg, #A4CB60 12.34%, #3AA8F3 100%);
  height: 100vh;
}

.center{
  text-align: center;
}

.cadastro{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #8A3A00;
}

.botao{
  background-color: #B44B00;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
}

.mat-form-field-appearance-outline .mat-form-field-outline{
  background-color: white !important
}
